@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kütüphane Sistemine Hoşgeldiniz</h1>
    <br />
    <br />

    <p><img src="/img/kutuphane2.jpg" /></p>
   
</div>
