@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<div class="text-center">
    <h2 style ="color: purple">@ViewData["Title"]</h2>

    <br />
    <br />


    <h2>Yıldız Sokak Ay Apartmanı No:24</h2>
    <h2>Kağıthane/İstanbul</h2>
    <h2>E-posta Adresimiz:</h2>
    
    <h3><a href="mailto:cimenarda.yaz@gmail.com">cimenarda.yaz@gmail.com</a></h3>

</div>